.description,.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 16px;
  * {
    color: #fefefe;
  }
}
.description {
  width: 40%;
}
.info {
  width: 50%;
  .item {
    display: flex;
    align-items: center;
    span {
      margin-left: 8px;
    };
  }
}
.title{
  font: 1.5em sans-serif;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-wrap: wrap;
  }
  .description,.info {
    width: 100%;
  }
  .description {
    margin: 0;
  }
  .info {
    margin: 16px 40px;
    .item {
      margin-bottom: 8px;
      span {
        font-size: 0.75rem;
      }
    }
  }
}
