@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@layer base {
  html {
    font-family: "Noto Sans TC", system-ui,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

.nav-bg {
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(5px);
}

.hero-title,.hero-subtitle {
  font-size: 2.5rem;
  color: #fefefe;
  font-weight: bold;
  line-height: 4rem;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: normal;
}
.bg {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('/assets/images/hero-bg.png');
  background-size: auto 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.infoGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.infoBox {
  width: 50%;
  display: flex;
  margin-bottom: 24px;
  z-index: 9999;
}
.topDecoration {
  top: 0;
  right: 24px;
  opacity: 0.3;
}
.bottomDecoration {
  bottom: 0;
  left: 24px;
  transform: rotate(180deg);
  opacity: 0.3;
}
.svgGroup {
  width: 100%;
}
/* .svgGroup .infoBox {
  width: 25%;
} */
.svgBox {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fefefe;
  position: relative;
}
.svgBox svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.svgGroup .infoBox {
  width: 100%;
}
@media (max-width: 768px) {
  .hero-title,.hero-subtitle {
    line-height: 3rem;
  }
  .infoBox {
    width:100%;
    display: block;
  }
  .infoBox .svgBox {
    left: 50%;
    transform: translateX(-50%);
  }
  .infoBox .title {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .topDecoration,.bottomDecoration {
    max-width: 200px;
  }
}
// scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background-color: #7F98A6;
}