@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@layer base {
  html {
    font-family: "Noto Sans TC", system-ui,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

/* nav-bar */
.nav-bg {
  /* background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(5px); */
  z-index: 999;
}
/* Hero */
/* .bg {
  github圖片引用時會出錯因此調整至background.tsx直接呼叫
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('/assets/images/hero-bg.png');
  background-size: auto 100vh;
  background-position: center;
  background-repeat: no-repeat;
} */
/* 多樣功能部分的上下圖 */
.topDecoration {
  top: 0;
  right: 24px;
  opacity: 0.6;
}
.bottomDecoration {
  bottom: 0;
  left: 24px;
  transform: rotate(180deg);
  opacity: 0.6;
}
/* benefit */
.svgBox {
  border-radius: 50%;
}
.svgBox svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media (max-width: 768px) {
  .infoBox {
    width:100%;
    display: block;
  }
  .infoBox .svgBox {
    left: 50%;
    transform: translateX(-50%);
  }
  .infoBox .title {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .topDecoration,.bottomDecoration {
    max-width: 200px;
  }
}
/* scrollbar*/ 
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background-color: #7F98A6;
}