.listItem {
  font-size: 1rem;
  color:#00324E;
  cursor: pointer;
  &:hover {
    color: #006AA6;
  }
}
.imageGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  .imageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: 8px;
    flex: 0 0 20%;
    span {
      padding: 4px 8px;
      background-color: rgba(255,255,255,0.3);
      backdrop-filter: blur(5px);
      border-radius: 4px;
      color: #fefefe;
      font-weight: bold;
    }
  }
}
.card-animation {
  opacity: 0;
  transform: translateY(1rem); /* 对应 translate-y-4 */
  transition: all 0.5s ease-in-out 0.1s; /* duration-500, ease-in-out, delay-100 */
}

.card-animation-enter {
  opacity: 1;
  transform: translateY(0); /* 对应 translate-y-0 */
}

.card-hover:hover {
  transform: translateY(4);
  transform: scale(1.5) translateY(-10px);
  transition: transform 0.1s ease-in-out;
}

@media (max-width: 425px) {
  .imageGroup { 
    .imageBox{
      flex: 0 0 30%;
    }
  }
}