.imageGroup {
  .imageBox {
    // margin: 8px;
    flex: 0 0 20%;
    span {
      padding: 4px 8px;
      background-color: rgba(#fefefe,0.8);
      backdrop-filter: blur(5px);
      border-radius: 4px;
      color: #00324E;
      font-weight: bold;
    }
  }
}


@media (max-width: 425px) {
  .imageGroup { 
    .imageBox{
      flex: 0 0 30%;
    }
  }
}