.titleBox {
  .titleText {
    .title {
      color: #006AA6;
    }
    .subtitle {
      color: #40657A;
    }
  }
  .decoration {
    font-size: 3rem;
    color: rgba(#40657A,0.1);
    // max-width: 50%;
  }
}
@media (max-width: 768px) {
  .titleBox {
    margin-bottom: 16px;
    .decoration {
      display: none;
    }
  }
}